# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

 Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

__objectives:__

- SQL
- R
- Python
- Julia
- Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. SciPy

|Data Science Tools|
|-------------------------------------------------|
|Jupyter Notebooks|
|R Studioâ€™s|
|Zeppelin Notebooks|

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [28]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Arthor
ZAID EHAB KUTBI